<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quản Lý Admin</title>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="/public/backend/vendor/fontawesome-free/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/backend/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="/public/backend/css/sb-admin-2.css">
</head>
<body id="page-top">

      <!-- Page Wrapper -->
      <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <%- include('../backend/components/sidebar'); %>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <%- include('../backend/components/header');%>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                      
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                     
                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                          
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                           
                        </div>
                    </div>

             
                        

                            

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
               <%- include('../backend/components/footer');%>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
   



      <!-- Bootstrap core JavaScript-->
      <script src="/public/backend/vendor/jquery/jquery.min.js"></script>

      <script src="/public/backend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/public/backend/vendor/jquery-easing/jquery.easing.min.js"></script>
  
      <!-- Core plugin JavaScript-->
      <script src="/public/backend/js/sb-admin-2.min.js"></script>
  
      <!-- Custom scripts for all pages-->
      <script src="/public/backend/vendor/chart.js/Chart.min.js"></script>
  
      <!-- Page level plugins -->
      <script src="/public/backend/js/demo/chart-area-demo.js"></script>
  
      <!-- Page level custom scripts -->
      <script src="/public/backend/js/demo/chart-pie-demo.js"></script>
      <script src="js/demo/chart-pie-demo.js"></script>
</body>
</html>